onyx-back/node_modules
onyx-back/public/hot
onyx-back/public/storage
onyx-back/storage/*.key
onyx-back/vendor
onyx-back.env
onyx-back.env.backup
onyx-back.phpunit.result.cache
onyx-backdocker-compose.override.yml
onyx-backHomestead.json
onyx-backHomestead.yaml
onyx-backnpm-debug.log
onyx-backyarn-error.log
onyx-back/.idea
onyx-back/.vscode


onyx-front/dist
onyx-front/tmp
onyx-front/out-tsc
onyx-front/bazel-out
onyx-front/node_modules
onyx-front/npm-debug.log
onyx-front/yarn-error.log
onyx-front/.idea/
onyx-front/.project
onyx-front/.classpath
onyx-front/.c9/
onyx-front/*.launch
onyx-front/.settings/
onyx-front/*.sublime-workspace
onyx-front/.vscode/*
onyx-front/!.vscode/settings.json
onyx-front/!.vscode/tasks.json
onyx-front/!.vscode/launch.json
onyx-front/!.vscode/extensions.json
onyx-front/.history/*
onyx-front/.angular/cache
onyx-front/.sass-cache/
onyx-front/connect.lock
onyx-front/coverage
onyx-front/libpeerconnection.log
onyx-front/testem.log
onyx-front/typings
onyx-front/.DS_Store
onyx-front/Thumbs.db
